<form class="outline-input">
  <mat-form-field class="example-full-width" appearance="outline" *ngIf="type === 'simple'">
    <div class="input-container flex">
      <input matInput [placeholder]="placeholder" [value]="inputValue" (input)="onInputChange($event)" [ngClass]="{'auto-focus': isAutoFocus}" autofocus>
      <button mat-button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </mat-form-field>
  

  <mat-form-field class="example-full-width" appearance="outline" *ngIf="type === 'text'">
    <textarea matInput [placeholder]="placeholder"></textarea>
  </mat-form-field>
</form>