.outline-input {
    min-width: 150px;
    max-width: 500px;
    width: 500PX;
  }
  
  .example-full-width {
    width: 100%;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .auto-focus {
    border-color: orange;
    /* Ajoutez d'autres styles personnalisés ici */
  }