section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

flat-button-primary, flat-button-secondary, cca-basic-icon, cca-icon-fab, cca-icon-mini-fab, cca-checkbox,
flat-button-text {
  margin: 8px 8px 8px 0;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
}

mat-option {
  display: inline-block;
}
