
<button mat-stroked-button *ngIf="type === 'primary'"  color='primary'>
	<ng-content *ngIf="type === 'primary'"></ng-content>
</button>

<button mat-stroked-button *ngIf="type === 'accent'"  color='accent'>
	<ng-content *ngIf="type === 'accent'"></ng-content>
</button>

<button mat-stroked-button *ngIf="type === 'warn'"  color='warn'>
	<ng-content *ngIf="type === 'warn'"></ng-content>
</button>

<button mat-stroked-button *ngIf="type === 'disabled'" disabled>
	<ng-content *ngIf="type === 'disabled'"></ng-content>
</button>

<button mat-stroked-button *ngIf="type === 'perso'"  class="cca-secondary-button">
	<ng-content *ngIf="type === 'perso'"></ng-content>
</button>
