<button mat-mini-fab color="primary" *ngIf="type === 'primary'" aria-label="Example icon button with a menu icon">
  <mat-icon>menu</mat-icon>
</button>
<button mat-mini-fab color="accent" *ngIf="type === 'accent'" aria-label="Example icon button with a plus one icon">
  <mat-icon>plus_one</mat-icon>
</button>
<button mat-mini-fab color="warn" *ngIf="type === 'warn'" aria-label="Example icon button with a filter list icon">
  <mat-icon>filter_list</mat-icon>
</button>
<button mat-mini-fab class="cca-icon-mini-fab" *ngIf="type === 'perso'" aria-label="Example icon button with a filter list icon">
  <mat-icon>plus_one</mat-icon>
</button>
<button mat-mini-fab disabled *ngIf="type === 'disabled'" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>