.custom-upload {
    display: flex;
    width: 100%;
}

.custom-upload .custom-upload-vertical{
    flex-direction: column;
}

.drop-box {
    display: flex;
    border: 4px dashed #0075EA;
    width: 30%;
    height: 55vh;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: grab;
}

.custom-upload .custom-upload-vertical .drop-box{
    width: 50%;
}

.drop-box-text {
    font-size: 1rem;
}

.drop-box-main-text {
    font-size: 1.2rem;
    font-weight: 800;
}

.browse-link {
    color: #0075EA;
}

.browse-link:hover {
    color: #2893ff;
    cursor: pointer;
}

.drag-over {
    background-color: #f2f2f2;
}

.custom-upload .custom-upload-vertical .file-list{
    width: 50%;
}

.file-list {
    margin-top: 20px;
    padding-left: 5%;
    width: 70%;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-height: 50vh;
    overflow: auto;
}

li {
    width: 100%;
}

.file-item {
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 5%;
    border-bottom: solid rgb(178, 178, 178) 1px;
    height: 10vh;
}

.file-type-icon{
    width: 10%;
}

.file-info{
    width: 90%;
}

.file-name {
    font-weight: 800;
    margin-right: 5px;
}

.file-size {
    margin-right: 10px;
}

.file-progress {
    font-weight: bold;
}


.file-type-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.file-info-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-button {
    border: none;
    background: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.file-upload-progress {
    height: 8px;
    background-color: #f2f2f2;
    margin-top: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
}