<mat-form-field class="custom-mat-form-field" *ngIf="type === 'basic'">
  <mat-label>{{label}}</mat-label>
  <mat-select [formControl]="toppings" multiple (selectionChange)="onSelectionChange()">
    <mat-option *ngFor="let topping of toppingList; let i = index" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="custom-mat-form-field" *ngIf="type === 'thematics'">
  <mat-select placeholder="Select options" [formControl]="selectedOptions" multiple
    (selectionChange)="onSelectionThematicsChange()">
    <mat-select-trigger>
      <mat-chip-listbox class="chips-container">
        <mat-chip *ngFor="let option of selectedOptions.value" [removable]="true"
          (removed)="removeOptionThematics(option)">
          {{ option }}
          <mat-icon matChipRemove>X</mat-icon>
        </mat-chip>
      </mat-chip-listbox>
    </mat-select-trigger>
    <mat-option *ngFor="let option of options" [value]="option">
      <mat-chip>{{ option }}</mat-chip>
    </mat-option>
  </mat-select>
</mat-form-field>