<form class="example-form">
  <mat-form-field class="example-full-width" *ngIf="type === 'basic'">
    <mat-label>{{ label }}</mat-label>
    <div class="input-container flex">
      <input matInput [placeholder]="placeholder" [value]="inputValue" (input)="onInputChange($event)">
      <button mat-button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width" *ngIf="type === 'text'">
    <mat-label>{{ label }}</mat-label>
    <textarea matInput [placeholder]="placeholder" [value]="inputValue" (input)="onInputChange($event)"></textarea>
  </mat-form-field>
</form>
