.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajoutez une marge supérieure si nécessaire */
  }
  
  .button-group button:not(:last-child) {
    margin-right: 10px; /* Ajoutez l'espace souhaité entre chaque bouton */
  }