<button mat-fab *ngIf="type === 'primary'"  color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button>
<button mat-fab color="accent" *ngIf="type === 'accent'" aria-label="Example icon button with a bookmark icon">
  <mat-icon>bookmark</mat-icon>
</button>
<button mat-fab color="warn" *ngIf="type === 'warn'"  aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button>
<button mat-fab disabled *ngIf="type === 'disabled'"  aria-label="Example icon button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>