/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 1;
    background-color: white;
    color: black;
    width: fit-content;
    max-width: 250px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
}

.tooltip-left::after {
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    border-color: transparent transparent transparent black;
}

.tooltip-right::after {
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    border-color: transparent black transparent transparent;
}

.tooltip-above::after {
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-color: black transparent transparent transparent;
}

.tooltip-below::after {
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent black transparent;
}