/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cca-tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 1;
    background-color: white;
    max-width: 25%;
    max-height: 40vh;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
}
