Primary color: #0075EA
Secondary color: #023D74
Error color: #F83546
Success color: #20ad61
Text color: #212529
Neutral color 4: #5d6873
Neutral color 3: #8494a4
Neutral color 2: #ced7df
Neutral color 1: #f2f4f8

Title 
font-family: 'Poppins'; font-style: normal;
font-weight: 900; font-size: 36px; color: #212529;
H1
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 24px; color: #212529;
H2
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 22px; color: #212529;
H3
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 20px; color: #212529;
H4
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 18px; color: #212529;
H5
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 16px; color: #212529;
H6
font-family: 'Poppins'; font-style: normal;
font-weight: 700; font-size: 14px; color: #212529;
LINK
font-family: 'Poppins'; font-style: normal;
font-weight: 600; font-size: 14px; color: #0075EA;
PARAGRAPH
font-family: 'Poppins'; font-style: normal;
font-weight: 600; font-size: 13px; color: #212529;
Litle PARAGRAPH
font-family: 'Poppins'; font-style: normal;
font-weight: 400; font-size: 13px; color: #212529;