
<button mat-raised-button *ngIf="type === 'primary'"  color='primary'>
	<ng-content *ngIf="type === 'primary'"></ng-content>
</button>

<button mat-raised-button *ngIf="type === 'accent'"  color='accent'>
	<ng-content *ngIf="type === 'accent'"></ng-content>
</button>

<button mat-raised-button *ngIf="type === 'warn'"  color='warn'>
	<ng-content *ngIf="type === 'warn'"></ng-content>
</button>

<button mat-raised-button *ngIf="type === 'disabled'" disabled>
	<ng-content *ngIf="type === 'disabled'"></ng-content>
</button>

<button mat-raised-button *ngIf="type === 'perso'"  class="cca-primary-button">
	<ng-content *ngIf="type === 'perso'"></ng-content>
</button>
